


.navbar-nav .nav-item .nav-link:hover{
	
	background-color:#fa0779;
	color:#fff;

	
	
}

.navbar-nav .nav-item .nav-link{
 margin:0 15px;
}


.hr{
	width:120px;
	margin:0 auto;
	height:5px;
	background-color:#CB171E;
	opacity:1;
}
.footer{
	background-color:#fa0779;
}
.list-unstyled li a{
	color:white;
}
.list-unstyled li a:hover{
	color:black;
}
.line{
	opacity:1;
	border:0;
	height:2px;
	background-color:white;
}
.bg-theme{
  background-color:#FA0779;
}

.h-line{
	width:90px!important;
	margin:0 auto;
	height:5px;
	background-color:#CB171E;
	opacity:1;
}